@charset "utf-8";
/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

/* リセット */
html,
body,
header,
footer,
main,
section,
h1,
h2,
h3,
ul,
li,
p,
dl {
    margin: 0;
    padding: 0;
    line-height: 1;
    color: #4f260b;
    font-family: "A1 Mincho", "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

p {
    font-size: 16px;
}

/* PC版 */

/* ヘッダー */
.header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 7.8% 10px 2.8%;
    box-sizing: border-box;
    margin: 0 auto;
}
.header_logo {
    width: 226.76px;
}
.pc_nav ul {
    display: flex;
}
.pc_nav ul li {
    width: 105px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
        "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    margin-right: 50px;
}
.pc_nav ul li:last-child {
    margin-right: 0;
}
.slider img {
    width: 100%;
}

/* 横幅少ないところの調整 */
.main-under,
#aboutus,
#menu,
#event,
footer {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

/* メイン部分のCSSはここへ */
main {
    background-color: #e8d9bf;
    padding-top: 107px;
}
/* メインの下 */
.main-under {
    text-align: center;
    margin-bottom: 100px;
}
.main-under p:first-child {
    font-size: 30px;
    padding-bottom: 55px;
}
.main-text {
    font-size: 82px;
    line-height: 1.17;
    padding-bottom: 46px;
}
.main-under p:last-child {
    font-size: 23px;
    line-height: 1.65;
}
.main-under-bun {
    display: none;
}
/* ABOUT US */
#aboutus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 108px;
}
#aboutus div:first-child {
    width: 50%;
}
#aboutus div:last-child {
    width: 50%;
    padding-left: 40px;
    box-sizing: border-box;
}
.aboutus-img img {
    border-radius: 0 0 82px 0;
    width: 100%;
}
#aboutus-font {
    width: 272.3936px;
    padding-bottom: 55px;
}
#aboutus-font-sp {
    display: none;
}
.about-title {
    font-size: 44px;
    line-height: 1.38;
    padding-bottom: 35px;
}
.about-text {
    line-height: 1.625;
}

/* MENU */
#menu {
    margin-bottom: 95px;
}
#menu-font {
    width: 151.3853px;
    margin: 0 auto;
    padding-bottom: 45px;
}
.menu-contents {
    display: flex;
    justify-content: space-between;
}
.contents-item {
    width: 30%;
}
.menu-contents > div img {
    border-radius: 0 41px 0 0;
    width: 100%;
}
.menu-title {
    color: #d30202;
    font-size: 38px;
    margin-top: -10px;
    padding-left: 12px;
    padding-bottom: 17px;
}
.menu-text {
    line-height: 1.47;
}
/* gallery */
#gallery {
    margin-bottom: 70px;
}
#gallery-font {
    width: 245.1836px;
    margin: 0 auto;
    padding-bottom: 25px;
}
.gallery-photo {
    display: flex;
}
.gallery-photo img {
    width: 20%;
}
.sp_gallery-photo {
    display: none;
}

/* EVENT */
#event {
    margin-bottom: 70px;
}
#event-font {
    width: 173.8242px;
    margin: 0 auto;
    padding-bottom: 40px;
}
.event-box {
    width: 100%;
    padding: 37px 0 20px 0;
    background-color: #fff;
    border: 3.6843px solid #4f260b;
    box-sizing: border-box;
}
.event-box dl div {
    display: flex;
}
.event-box dl dt {
    padding-left: 15.9%;
    padding-bottom: 22px;
    font-size: 23px;
}
.event-box dl dd {
    padding-left: 5.6%;
    text-decoration: underline #4f260b;
}

/* ACCESS */
#access {
    margin-bottom: 82px;
}
#access-font {
    width: 213.8354px;
    margin: 0 auto;
    padding-bottom: 47px;
}
iframe {
    width: 100%;
    height: 471.2641px;
}

/* footer */
#footer {
    margin-bottom: 80px;
}
#footer p {
    color: #000;
}
.footer-contents {
    display: flex;
}
.footer-contents p img {
    width: 226.7676px;
}
.footer-text {
    padding-left: 104px;
    padding-bottom: 77px;
}
.footer-text p {
    font-size: 20px;
    padding-bottom: 22px;
}
.copyright {
    text-align: center;
}

.top img {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 125px;
}

.sp_nav {
    display: none;
}
.sp_btn {
    display: none;
}
@media screen and (max-width: 1024px) {
    .header_logo {
        width: 187.5195px;
    }
    .pc_nav {
        display: none;
    }
    .sp_btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 24px;
        z-index: 100;
        height: 30px;
        cursor: pointer;
    }
    .sp_btn span {
        width: 33px;
        height: 3px;
        border-radius: 5px;
        background: #fff;
        display: block;
        position: relative;
        top: 22px;
    }
    .sp_btn span::before,
    .sp_btn span::after {
        content: "";
        display: block;
        background: #fff;
        border-radius: 5px;
        width: 33px;
        height: 3px;
        position: absolute;
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 8px;
    }
    .sp_btn span::after {
        top: 8px;
    }
    .open span {
        background: transparent;
    }
    .open span::before {
        bottom: 0px;
        transform: rotate(45deg);
    }
    .open span::after {
        top: 0px;
        transform: rotate(135deg);
    }
    .sp_nav {
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.7);
        height: 100vh;
        width: 100%;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
    .sp_nav li {
        color: #fff;
        font-family: "游ゴシック体", YuGothic, "游ゴシック Medium",
            "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
        text-align: center;
        padding: 20px;
        font-size: 25px;
    }
    .main-under p:first-child {
        font-size: 3vw;
    }
    .main-text {
        font-size: 8vw;
    }

    .about-title {
        font-size: 4.3vw;
        padding-bottom: 20px;
    }
    #aboutus-font {
        width: 250px;
        padding-bottom: 30px;
    }
}
@media screen and (max-width: 767px) {
    /* 横幅少ないところの調整 */
    .main-under,
    #aboutus,
    #menu,
    #event,
    footer {
        padding: 0 5.8%;
    }
    main {
        padding-top: 40px;
    }

    /* メインの下 */
    .main-under {
        margin-bottom: 65px;
    }
    .main-under p:first-child {
        font-size: 4vw;
        padding-bottom: 25px;
    }
    .main-text {
        padding-bottom: 25px;
        font-size: 9vw;
    }
    .main-under p:last-child {
        display: none;
    }
    .main-under-bun {
        display: block;
        font-size: 4vw;
        line-height: 1.875;
    }
    /* ABOUT US */
    #aboutus {
        display: block;
        margin-bottom: 60px;
    }
    #aboutus div:first-child {
        width: 100%;
    }
    #aboutus div:last-child {
        width: 100%;
        padding-left: 0;
        box-sizing: border-box;
    }
    #aboutus-font {
        display: none;
    }
    #aboutus-font-sp {
        display: block;
        width: 160px;
        padding-bottom: 15px;
        margin: 0 auto;
    }
    .about-title {
        font-size: 30px;
        line-height: 1.25;
        padding-bottom: 30px;
    }
    .about-text {
        font-size: 16px;
        line-height: 1.75;
    }
    .aboutus-img {
        margin: 0 calc(50% - 50vw);
        width: 100vw;
    }
    .aboutus-img img {
        border-radius: 0;
        width: 100%;
        margin-bottom: 35px;
    }
    /* MENU */
    #menu {
        margin-bottom: 95px;
    }
    #menu-font {
        width: 88px;
        padding-bottom: 22px;
    }
    .menu-contents {
        display: block;
    }
    .contents-item {
        width: 100%;
        margin-bottom: 60px;
    }
    .menu-title {
        color: #d30202;
        font-size: 12vw;
        margin-top: -30px;
        padding-left: 12px;
        padding-bottom: 20px;
    }
    .menu-text {
        font-size: 17px;
        line-height: 1.58;
    }
    /* gallery */
    #gallery {
        margin-bottom: 35px;
    }
    #gallery-font {
        width: 142px;
        margin: 0 auto;
        padding-bottom: 25px;
    }
    .gallery-photo {
        display: none;
    }
    .sp_gallery-photo {
        display: block;
    }
    .sp_gallery-photo img {
        width: 100%;
    }

    /* EVENT */
    #event {
        margin-bottom: 35px;
    }
    #event-font {
        width: 100px;
        padding-bottom: 20px;
    }
    .event-box {
        padding: 37px 10px 20px 0;
    }
    .event-box dl div {
        display: block;
        margin-bottom: 25px;
        padding-left: 8%;
    }
    .event-box dl dt {
        padding-left: 0;
        padding-bottom: 5px;
        font-size: 16px;
    }
    .event-box dl dd {
        font-size: 16px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    /* ACCESS */
    #access {
        margin-bottom: 50px;
    }
    #access-font {
        width: 124px;
        padding-bottom: 10px;
    }
    iframe {
        width: 100%;
        height: 191px;
    }
    /* footer */
    #footer {
        margin-bottom: 45px;
    }
    #footer p {
        color: #000;
    }
    .footer-contents {
        display: block;
    }
    .footer-contents p img {
        margin-bottom: 35px;
    }
    .footer-text {
        padding-left: 0;
        padding-bottom: 45px;
    }
    .footer-text p {
        font-size: 18px;
        padding-bottom: 22px;
        line-height: 1;
    }
    .top img {
        position: fixed;
        right: 10px;
        bottom: 20px;
        width: 100px;
    }
}
