@charset "utf-8";
/* cssリセット */

/*利用するタグによってこちらの内容は増やす*/

body,
h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4c4c4c;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

/* pc配置 */
body {
    background-color: #eee;
    max-width: 960px;
    margin: 50px auto;
    padding: 0 50px;
}
h2 {
    color: #398072;
    text-align: center;
    margin-bottom: 30px;
}
.service {
    display: flex;
    justify-content: space-between;
}
.contents {
    width: 32%;
}
.contents-1 {
    background-color: #fff;
    padding: 10px;
}
.contents-title {
    color: #398072;
    border-left: 5px solid #398072;
    padding-left: 3px;
    font-size: 15px;
    font-weight: bold;
    padding-top: 3px;
    margin-bottom: 10px;
}
.contents-1 p {
    font-size: 12px;
}

/* 400px以下対応 */

@media screen and (max-width: 400px) {
    body {
        padding: 0 20px;
    }
    .service {
        display: block;
    }
    .contents {
        width: 100%;
        padding-bottom: 20px;
    }
}
